@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&family=Unbounded:wght@200..900&display=swap');

@import 'tailwindcss';

@plugin "tailwindcss-animate";

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --font-heading: Rubik Mono One, monospace;
  --font-body: Rubik, sans-serif;
  --font-handwritten: Caveat, cursive;
  --font-unbounded: Unbounded, sans-serif;
  --abyss: oklch(27.35% 0.017 189.89);
  --grass: oklch(66.38% 0.088 132.22);
  --cream: oklch(95.08% 0.008 189.89);
  --water: oklch(79.98% 0.038 187.93);
  --algae: oklch(74.26% 0.113 127.26);
  --radius: 0.5rem;
}

@theme inline {
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --font-handwritten: var(--font-handwritten);
  --font-unbounded: var(--font-unbounded);
  --color-abyss: var(--abyss);
  --color-grass: var(--grass);
  --color-cream: var(--cream);
  --color-water: var(--water);
  --color-algae: var(--algae);
  --radius-sm: calc(var(--radius) - 4px); /* 4px */
  --radius-md: var(--radius); /* 8px */
  --radius-lg: calc(var(--radius) + 8px); /* 16px */
  --radius-full: 100%;
  /* --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring); */
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-abyss text-cream font-body;
  }
}
